# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
chapter1/target/
chapter2/target/
chapter2/test-output/
chapter2/src/test/
chapter3/src/test/
chapter3/target/
chapter4/src/test/
chapter5/src/main/java/com/jvm/
chapter5/src/test/
chapter5/target/
chapter1/chapter1.iml
chapter2/chapter2.iml
chapter3/chapter3.iml
chapter4/chapter4.iml
chapter5/chapter5.iml
